<nav class = "container">
    <div class = "navbar navbar-default navbar-fixed-top">
      <div class = "navbar-header">
        <a href="/"><h2 class="text-muted">SurvivorMarkov</h2></a>
        Because food-deprived quote <b>matters</b>
      </div>
    </div>
</nav>
<hr>