{% extends "base.html" %}

{% block content %}
Select two castaways
<br>
TIPS: A quick way to find a castaway is by cliciking the castaway dropdown and start typing the name.

{% if error %}
<div class="alert alert-danger" role="alert">  You cannot submit two same castaways. Please cast your vote again.
</div>
{% endif %}

<form action="/wiggle/" method="post">
    <div class="form-group">
        <select class="form-control form-control-lg" name="dropdown1">
            {% for castaway in choice %}
               <option  value="{{castaway.name}}">{{castaway.name}} {{castaway.season}}</option>
            {% endfor %}
        </select>
        <select class="form-control form-control-lg" name="dropdown2">
            {% for castaway in choice %}
               <option  value="{{castaway.name}}">{{castaway.name}} {{castaway.season}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Wiggle this up!</button>
</form>

<p class="text-muted">Wiggle Room  <a href="/confess/full/" class="card-link"><br>Go to Full Confessional</a></p>

{% endblock %}