{% extends "base.html" %}

{% block content %}
Select two castaways
<br>
TIPS: A quick way to find a castaway is by cliciking the castaway dropdown and start typing the name.

<form action="/wiggle/" method="post">
    <div class="form-group">
        <select class="form-control form-control-lg" name="dropdown1">
            {% for castaway in choice %}
               <option  value="{{castaway.name}}" {% if castaway.name == chosen1 %} selected="selected"{% endif %} >{{castaway.name}} {{castaway.season}}</option>
            {% endfor %}
        </select>
        <select class="form-control form-control-lg" name="dropdown2">
            {% for castaway in choice %}
               <option  value="{{castaway.name}}" {% if castaway.name == chosen2 %} selected="selected"{% endif %} >{{castaway.name}} {{castaway.season}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Wiggle this up!</button>
</form>

<p class="text-muted">Wiggle Room  <a href="/confess/full/" class="card-link"><br>Go to Full Confessional</a></p>

<div class="card">
    <div class="card-body alert-warning">
        <h5 class="card-title">The Wigglession of {{chosen1}} and {{chosen2}}</h5>
        <p class="card-text"> {{text}}</p>
    </div>
</div>

{% endblock %}