{% extends "base.html" %}

{% block content %}

<div class="alert alert-info">
    SurvivorMarkov is a site where you can generate a fictional Survivor confessional based on actual real word pattern of Castaway's confessional on Survivor. We cover 211 castaways over 14 seasons.
</div>

<div class="alert alert-warning">
    Survivor : Phillipines will be added to the system on March 1. 
</div>

      
Select a castaway
<br>
TIPS: A quick way to find a castaway is by cliciking the castaway dropdown and start typing the name.
<form action="/confess/full/" method="post">
    <div class="form-group">
        <select class="form-control form-control-lg" name="dropdown">
            {% for castaway in choice %}
               <option  value="{{castaway.name}}">{{castaway.name}} {{castaway.season}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Confess!</button>
</form>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Tweetable Confession</h5>
        <p class="card-text"> If you want a confessional tweetable inside Twitter's 140 limit, use this feature.</p>
        <a href="/confess/tweetable/" class="card-link">Let's do this.</a>
    </div>
    <div class="card-body">
        <h5 class="card-title">Wiggle Room</h5>
        <p class="card-text">Not to be confused with the podcast show, using the Wiggle Room, you would be able to wiggle two Castaway's confessional word pattern into one and use the mixed word pattern to create a confessional </p>
        <a href="/wiggle/" class="card-link">Wiggle, wiggle, wiggle</a>
    </div> 
    <div class="card-body">
        <h5 class="card-title">Who said dat?</h5>
        <p class="card-text">We are going to provide you with a generated quote. Can you guess from which castaway that generated quote comes from?</p>
        <a href="/guess/" class="card-link">I am a true Survivor fan. Hit me up.</a>
    </div> 
</div>

{% endblock %}
