{% extends "base.html" %}

{% block content %}
Select a castaway
<br>
TIPS: A quick way to find a castaway is by cliciking the castaway dropdown and start typing the name.
<form action="/confess/tweetable/" method="post">
    <div class="form-group">
        <select class="form-control form-control-lg" name="dropdown">
            {% for castaway in choice %}
               <option value="{{castaway.name}}" {% if castaway.name == chosen %} selected="selected"{% endif %} >{{castaway.name}} {{castaway.season}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Confess!</button>
</form>

<p class="text-muted">Tweetable Confessional  <a href="/confess/full/" class="card-link"><br>Go to Full Confessional</a></p>

<div class="card">
    <div class="card-body alert-warning">
        <h5 class="card-title">The Confession of {{chosen}}</h5>
        <p class="card-text"> {{text}}</p>
    </div>
</div>

{% endblock %}