{% extends "base.html" %}

{% block content %}
Select a castaway
<br>
TIPS: A quick way to find a castaway is by cliciking the castaway dropdown and start typing the name.
<form action="/confess/tweetable/" method="post">
    <div class="form-group">
        <select class="form-control form-control-lg" name="dropdown">
            {% for castaway in choice %}
               <option  value="{{castaway.name}}">{{castaway.name}} {{castaway.season}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Confess!</button>
</form>

<p class="text-muted">Tweetable Confessional  <a href="/confess/full/" class="card-link"><br>Go to Full Confessional</a></p>

{% endblock %}