{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="{{author}}">

    <!-- bootstrap csss -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <title>
        {% block title %} {{title}} {% endblock %}
    </title>
</head>
<body>
<header style="background:#ffc823">
    {% block header %}
       {% include "partials/header.html" %}
    {% endblock %}
</header>
<content>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</content>
<footer style="background:#ffc823">
    {% block footer %}
       {% include "partials/footer.html" %}
    {% endblock %}
</footer>

</body>
</html>
