{% extends "base.html" %}

{% block content %}

<div class="card">
          <div class="card-body alert-warning">
              <h5 class="card-title">Whose confession is this?</h5>
              <p class="card-text"> {{text}}</p>
          </div>
      </div>
      <p id="statement"></p>
      <table class="table table-dark">
        <tbody>
          <tr id="A">
            <th scope="row"><button type="button" class="btn btn-info" onClick="answer('A')">A</button></th>
            <td><h3>{{optionA}}</h3></td>
          </tr>
          <tr id="B">
            <th scope="row"><button type="button" class="btn btn-info" onClick="answer('B')">B</button></th>
            <td><h3>{{optionB}}</h3></td>
          </tr>
          <tr id="C">
            <th scope="row"><button type="button" class="btn btn-info" onClick="answer('C')">C</button></th>
            <td><h3>{{optionC}}</h3></td>
          </tr>
        </tbody>
      </table>
</div>
<script>
    var answer = function(id) {
        var content = $('#statement').text();
        if(content == ""){
          $('#' + id).css("background-color", "red");
          $('#' + '{{answer}}').css("background-color","blue");
          if(id == '{{answer}}'){
            $("#statement").html('That is the right answer! <a href="/guess/">Generate another confession</a>');
          }
          else{
            $("#statement").html('That is not the right answer! The correct answer is option {{answer}} <a href="/guess/">Generate another confession</a>');
          }
        }
    };
</script>

{% endblock %}